<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form class="mt-5">
        <div class="mb-3">
          <label class="form-label">Title</label>
          <input type="text" class="form-control add-todo" [(ngModel)]="itemToAdd.title" name="item">
        </div>
        <div class="mb-3">
          <label class="form-label">Description</label>
          <input type="text" class="form-control add-todo" [(ngModel)]="itemToAdd.description" name="item">
        </div>

        <button type="submit" (click)="addToList()" class="btn btn-primary">Add</button>
      </form>
    </div>

    <div class="col-md-6 mt-5">

      <h2>Todo List</h2>
      <hr>
      <div class="card" style="width: 18rem;" *ngFor="let item of todoList; let i = index">
        <div class="card-body">
          <h5 class="card-title"><a [routerLink]="['/task', item]">{{item.title}}</a></h5>
          <h6 class="card-subtitle mb-2 text-muted">Task {{i + 1}}</h6>
          <p class="card-text">{{item.description}}</p>
          <a href="#" class="card-link primary" (click)="doItem(i)">Move to Done</a>
          <a href="#" (click)="removeFromTodo(i)" class="card-link text-danger">Remove</a>
        </div>
      </div>

    </div>
    <div class="col-md-6 mt-5">
      <h2>Items Done</h2>
      <hr>
      <div class="card" style="width: 18rem;" *ngFor="let item of doneList; let i = index">
        <div class="card-body">
          <h5 class="card-title"><a [routerLink]="['/task', item]">{{item.title}}</a></h5>
          <h6 class="card-subtitle mb-2 text-muted">Task {{i + 1}}</h6>
          <p class="card-text">{{item.description}}</p>
          <a href="#" class="card-link primary" (click)="undoItem(i)">Back to Todo</a>
          <a href="#" (click)="removeFromDone(i)" class="card-link text-danger">Remove</a>
        </div>
      </div>
    </div>
  </div>
