<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="mt-5">
                <div class="mb-3">
                    <label class="form-label">Title</label>
                    <input type="text" class="form-control add-todo" [(ngModel)]="itemToAdd.title" name="item">
                </div>
                <div class="mb-3">
                    <label class="form-label">Description</label>
                    <input type="text" class="form-control add-todo" [(ngModel)]="itemToAdd.description" name="item">
                </div>

                <button type="submit" (click)="addToList()" class="btn btn-primary">Add</button>
            </form>
        </div>

        <div class="col-md-6 mt-5">

            <h2>Todo List</h2>
            <hr>
            <div *ngFor="let item of todoList; let i = index">





            </div>
            <div class="col-md-6 mt-5">
                <h2>Items Done</h2>
                <hr>
                <ul id="sortable" class="list-unstyled">
                    <li class="ui-state-default" *ngFor="let item of doneList; let i = index">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" (click)="undoItem(i)" checked /> <span
                                    style="text-decoration: line-through;">{{item}}</span> </label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>